<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>hoomi-payments-logs/current.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>hoomi-payments-logs/%d{yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm,aux}.log.gz</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%15.15thread] %highlight(%-5level) --- %cyan(%-40.40logger{50}):%5.5line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%date{yyyy-MM-dd HH:mm:ss.SSS}) [%15.15thread] %highlight(%-5level) --- %cyan(%-40.40logger{50}):%5.5line - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
